<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Document</title>
</head>

<body>
<div class="container">
    <h1><%=budgetItem.name%></h1>
    <!-- even though we did this in class, I used stackoverflow to help add the action to the button -->
    <form action="/budgets">
        <button>Back</button>
    </form>
    <strong>date</strong> <br>
        <%=budgetItem.date%> <br>
    <strong>name</strong> <br>
    <%=budgetItem.name%> <br>
    <strong>from</strong> <br>
    <%=budgetItem.from%><br>
    <strong>amount</strong> <br>
    <%=budgetItem.amount%>
    
</div>
</body>

</html>